/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Project Buttons


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

@mixin gradient-button() {
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color:white;
	font-weight:600;
	font-size:rem(16);
	padding:16px 30px 15px 30px;
	margin:0;
	background:$orange-pink-gradient;
	background-size: 100% 100%;
	border-radius:5px;
	transition: all 0.4s ease-out;

	&:hover {
		color:white;
		background-size: 220% 100%;
	}
}

@mixin white-button() {
	padding:7px 15px;
	background:white;
	border:2px solid white;
	transition: background 0.7s;

	span {
		position: static;
		font-size:rem(14);
		@extend .text-gradient;
		transition: all 0.5s;
	}

	i {
		@extend .text-gradient;
		transition: all 0.5s;
		&.icon-arrow-right {
			font-size:rem(13);
		}
	}

	&:hover {
		transition: background 0.7s;
		background:transparent;

		span {
			color:white;
			background:transparent;
			transition: all 0.5s;
			-webkit-text-fill-color:unset;
		}

		i {
			color:white;
			background:transparent;
			transition: all 0.5s;
			-webkit-text-fill-color:unset;
		}
	}
}

.button { 
	@include gradient-button();
}
