/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		GENERIC CONTENT


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

body {
	font-family:$type-body;
}

// Text Links

a {
	color:$color-body-link;
	text-decoration: none;
	transition:all 0.5s ease-out;
	font-weight: 600;

	&:hover {
		color:$color-body-link-hover;
	}
}

// Headings

h1 {
	font-family: $type-heading;
	font-weight:600;
	font-size:rem(36);
	line-height: 1.1;
	color:$color-body-heading;
	@include media(tablet) {
		font-size:rem(42);
		line-height: 1.2;
	}
	@include media(desktop-sm) {
		font-size:rem(62);
		line-height: 1.1;
	}
}

h2 {
	font-family: $type-heading;
	font-weight:600;
}

h3 {
	font-family: $type-heading;
	font-weight:600;
}


// Paragraph/Lists

p {
	font-size:rem(16);
	line-height: 1.4;
	color:$color-body-text;
	margin:0 0 15px 0;
	@include media(tablet) {
		font-size:rem(18);
		line-height: 1.5;
		margin:0 0 20px 0;
	}
}

ul {
	li {
		font-size:rem(16);
		line-height: 1.4;
		color:$color-body-text;
		@include media(tablet) {
			font-size:rem(18);
			line-height: 1.5;
		}
	}
}

ol {
	li {
		font-size:rem(16);
		line-height: 1.4;
		color:$color-body-text;
		@include media(tablet) {
			font-size:rem(18);
			line-height: 1.5;
		}
	}
}

hr {
	height:1px;
	margin:5px 0;
	background:$color-body-primary;
}

blockquote {
	position: relative;
	padding-top: 15px;
	padding:5px 20px 20px 20px;
	margin:0;
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index: -1;
		left:0;
		top:0;
		width:61px;
		height:52px;
		background:url(/assets/images/quote.svg) no-repeat;	
		opacity:.1;			
	}

	p {
		font-weight: 600;
		margin:10px 0;
		@include media(tablet) {
			font-size:rem(16);
			line-height: 1.4;
		}
	}
}

/*
blockquote {
	position: relative;
	text-align: center;
	font-size:rem(16);
	line-height: 1.4;
	font-weight: 600;
	padding:15px 15px 30px 15px;
	margin:0;
	max-width: 350px;
	@include media(tablet) {
		padding:15px 20px 30px 20px;
	}
	&:before {
		content:"";
		display: block;
		position: absolute;
		z-index: -1;
		left:0;
		top:0;
		width:61px;
		height:52px;
		background:url(/assets/images/quote.svg) no-repeat;	
		opacity:.1;		
	}
}
*/

.text-gradient {
	color:#F74F5E;
	background:$orange-pink-gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	@include media-ie-11() {
		background:none;
	}

	@include media-ie-edge() {
		-webkit-text-fill-color:#F74F5E;
		background:none;
	}
}

@media not all and (min-resolution:.001dpcm) { 
  .text-gradient { 
  	-webkit-text-fill-color:#F74F5E;
     background:none;
  }
}