/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Hamburger


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

@mixin toggle-nav-defaults($width, $height, $line-middle, $line-bottom, $toggle-nav-line-color) {
	position: relative;
	width:$width;
	height:$height;
	padding:0;
	margin:0;
	background:transparent;
	border:none;
	transform:rotate(0deg);
	transition: .5s ease-in-out;

	.line {
		position: absolute;
		left:0;
		display: block;
		width:100%;
		height:2px;
		opacity:1;
		transform:rotate(0deg);
		transition:.25s ease-in-out;

		&:first-of-type {
			top:0;
			background:$color-body-tertiary;
		}

		&:nth-of-type(2), &:nth-of-type(3) {
			top:$line-middle;
			background-image:$green-orange-gradient;
		}

		&:nth-of-type(4) {
			top:$line-bottom;
			background-image:$orange-pink-gradient;
		}
	}

	&.open-nav {
		.line {

			&:first-of-type {
				top:$line-middle;
				left:50%;
				width:0%;
			}

			&:nth-of-type(2) {
				transform:rotate(45deg);
				background-image:$green-orange-gradient;
			}

			&:nth-of-type(3) {
				transform:rotate(-45deg);
				background-image:$orange-pink-gradient;
			}

			&:nth-of-type(4) {
				top:$line-middle;
				left:50%;
				width:0%;
			}
		}
	}
}