@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?s4scrj');
  src:  url('../../fonts/icomoon.eot?s4scrj#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?s4scrj') format('truetype'),
    url('../../fonts/icomoon.woff?s4scrj') format('woff'),
    url('../../fonts/icomoon.svg?s4scrj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e904";
}
.icon-plus-circle:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-file-pdf:before {
  content: "\e900";
}
