/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Fancy Numbers


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@mixin number175() {
	.number {
		@include media(tablet) {
			font-size:rem(175);
			line-height:95px;
		}
	}
	p {
		@include media(tablet) {
			left:55px;
		}
	}
}

@mixin number200() {
	.number {
		@include media(tablet) {
			font-size:rem(200);
			line-height:95px;
		}
	}
	p {
		@include media(tablet) {
			left:60px;
		}
	}
}

@mixin number288() {
	.number {
		@include media(tablet) {
			font-size:rem(288);
			line-height:95px;
		}
	}
	p {
		@include media(tablet) {
			left:78px;
		}
	}
}