/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Hatch Pattern BG


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

@mixin hatch-pattern() {
	position: relative;
	z-index:1;

	&:before {
		content:"";
		position: absolute;
		z-index:-1;
		left:0;
		right:0;
		top:0;
		bottom:0;
		width:100%;
		height:100%;
		background-image:$white-gradient;			
	}

	&:after {
		content:"";
		position: absolute;
		z-index: -2;
		left:0;
		right:0;
		top:0;
		bottom:0;
		width:100%;
		height:100%;
		opacity:.08;
		background:url(/assets/images/hatch-pattern.png) repeat;			
	}
}