/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Hero


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@mixin hero() {
	position: relative;

	.shadow-mountain {
		position: absolute;
		left:0;
		right:0;
		bottom:0;
		z-index: 10;
		width:100%;
		height:343px;
		background-repeat:no-repeat;
		background-position: center center;
		background-image:url(../../images/shadow-mountain.svg);
	}

	.saturn-esque {
		position: absolute;
		left:0;
		bottom:0;
		z-index: 5;
		width:100%;
		height:781px;
		background-repeat:no-repeat;
		background-position: left center;
		background-image:url(../../images/saturn-esque.svg);
	}

	.starfield {
		@include starfield($purple-gradient, infinite);
	}

	h1 {
		color:white;
		margin:0;
		@include media(desktop-sm) {
			padding-top: 0;
			max-width: 760px;
		}
	}

	p {
		font-size:rem(18);
		line-height: 1.3;
		font-weight: 600;
		color:white;
		margin:25px 0 0 0;
		@include media(tablet) {
			font-size:rem(20);
			line-height: 1.4;
			font-weight: 300;
			margin-top: 35px;
		}
		@include media(desktop-sm) {
			font-size:rem(24);
			line-height: 1.3;
		}
	}
}