/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Mobile Image Wrapper


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@mixin mobile-wrapper() {
	position: relative;
	margin:0;
	background:black;
	border-radius: 60px;

	.monitor {
		position: absolute;
		left:0;
		right:0;
		z-index: 2;
		width:100%;
		max-width: 100%;
	}

	.screen {
		position: relative;
		z-index: 1;
		display: block;
		max-width: 100%;
		width:100%;
		padding:22.5% 2.3% 0 2.3%;
	}
}