/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Monitor Image Wrapper


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@mixin monitor-wrapper() {
	position: relative;
	margin:0;
	background:black;
	border-radius:15px;

	.monitor {
		position: absolute;
		left:0;
		right:0;
		z-index: 2;
		width:100%;
		max-width: 100%;
	}

	.screen {
		position: relative;
		z-index: 1;
		display: block;
		max-width: 100%;
		padding:4.8% 1.6% 0 1.6%;
		@include media-ie-11() {
			width:100%;
		}
	}
}