/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Paging


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.paging {
	@extend .remove-list-styles;
	display: flex;
	justify-content:space-between;
	height:164px;
	overflow: hidden;
	@include media(tablet) {
		height:auto;
		padding-top: 50px;
	}

	li {
		a {
			display: block;
			@include centerflex();
			position: relative;
			z-index: 1;
			width:80px;
			height:100%;
			font-size:rem(14);
			line-height: 1.2;
			color:$color-body-text-tertiary;
			text-transform: uppercase;
			@include media(tablet) {
				display: block;
				width:auto;
				line-height: 1;
				height:173px;
				padding-top:125px;
			}

			&:after {
				content:"";
				position: absolute;
				z-index: -1;
				top:42px;
				width:160px;
				height:76px;
				background-position: left center;
				background-size:160px auto;
				background-repeat:no-repeat;
				@include media(tablet) {
					top:0;
					width:366px;
					height:174px;
					background-size:auto auto;
				}		
			}

			span {
				display: block;
				padding-bottom:8px;
				@include media(tablet) {
					display: inline-block;
					padding:0;
				}
			}

			i {
				display:block;
				@include media(tablet) {
					display: inline-block;
				}
			}
		}

		&.prev {
			text-align: left;

			a {
				align-items: flex-start;
				padding-left:77px;
				@include media(tablet) {
					flex-direction: row;
					justify-content: flex-start;
					padding-left:50px;
				}

				&:after {
					left:-43px;
					background-image:url(../../images/prev-project-bg.svg);
					transform:rotate(90deg);	
					@include media(tablet) {
						left:0;
						transform:rotate(0deg);
					}	
				}

				span {
					@include media(tablet) {
						order:2;
					}
				}

				i {
					float:left;
					transform:rotate(180deg);					
					@include media(tablet) {
						order:1;
						margin-top: 1px;
						margin-right: 5px;
					}
				}
			}


		}

		&.next {
			text-align: right;
			a {
				align-items: flex-end;
				padding-right:77px;
				@include media(tablet) {
					padding-right:50px;
				}
				&:after {
					right:-43px;
					background-image:url(../../images/next-project-bg.svg);
					transform:rotate(-90deg);	
					@include media(tablet) {
						right:0;
						transform:rotate(0deg);
					}	
				}

				i {
					@include media(tablet) {
						margin-left:5px;
					}
				}
			}
		}

		&.prev.disabled, &.next.disabled {
			opacity:0;
			visibility: hidden;
		}
	}
}