/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Star Field


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 


@function multiple-box-shadow($n) {
	$value: '#{random(2000)}px #{random(2000)}px rgba(255,255,255,.4)';
	
	@for $i from 2 through $n {
		$value:'#{$value} , #{random(2000)}px #{random(2000)}px rgba(255,255,255,.4)';
	}

	@return unquote($value);
}

$shadows-slow:multiple-box-shadow(700);
$shadows-med:multiple-box-shadow(200);
$shadows-fast:multiple-box-shadow(100);


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@mixin starfield($background, $iteration) {
	position: absolute;
	z-index: 1;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image:$background;
	overflow: hidden;

	.stars {
		border-radius:100%;
		background:transparent;

		&:after {
			content:"";
			position: absolute;
			top:2000px;
			border-radius:100%;		
			background:transparent;	
		}

		&.slow {
			width:1px;
			height:1px;
			box-shadow:$shadows-slow;
			@include media(tablet) {
				animation: animStar 100s linear $iteration;
			}

			&:after {
				width:1px;
				height:1px;
				box-shadow:$shadows-slow;		
			}
		}

		&.med {
			width:2px;
			height:2px;
			box-shadow:$shadows-med;
			@include media(tablet) {
				animation: animStar 150s linear $iteration;
			}

			&:after {
				width:2px;
				height:2px;
				box-shadow:$shadows-med;		
			}
		}

		&.fast {
			width:3px;
			height:3px;
			box-shadow:$shadows-fast;
			@include media(tablet) {
				animation: animStar 200s linear $iteration;
			}

			&:after {
				width:3px;
				height:3px;
				box-shadow:$shadows-fast;		
			}
		}
	}
}

@mixin starfield-static($background) {
	position: absolute;
	z-index: 1;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image:$background;
	overflow: hidden;

	.stars {
		border-radius:100%;
		background:transparent;

		&:after {
			content:"";
			position: absolute;
			top:2000px;
			border-radius:100%;		
			background:transparent;	
		}

		&.slow {
			width:1px;
			height:1px;
			box-shadow:$shadows-slow;

			&:after {
				width:1px;
				height:1px;
				box-shadow:$shadows-slow;		
			}
		}

		&.med {
			width:2px;
			height:2px;
			box-shadow:$shadows-med;

			&:after {
				width:2px;
				height:2px;
				box-shadow:$shadows-med;		
			}
		}

		&.fast {
			width:3px;
			height:3px;
			box-shadow:$shadows-fast;

			&:after {
				width:3px;
				height:3px;
				box-shadow:$shadows-fast;		
			}
		}
	}
}