/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		HEADER


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 


.site-header {
	position: absolute;
	left:0;
	right:0;
	top:12px;
	z-index: 100;
	height:66px;
	display: flex;
	justify-content:space-between;
	padding:0 20px;
	@include media(tablet) {
		padding:0 36px;
	}

	.logo {
		@include centerY();
		width:69px;
		height:34px;
		span {
			display: none;
			visibility:hidden;
		}
	}

	#toggle-nav {
		@include toggle-nav-defaults(28px, 20px, 8px, 17px, $color-body-tertiary);
		@include centerY();
	}
}

.site-navigation {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	visibility: hidden;
	z-index: -1;
	transition:all 0.3s ease-out;
	background:$purple-gradient;

	.content-wrapper {
		width:100%;
		@include centerXY();
	}

	ul {
		@extend .remove-list-styles;
		text-align: center;
		transform: translateY(50%);
  	transition: all 0s;
  	opacity:0;

  	li {
  		display: block;
			font-family: $type-heading;
			font-size:rem(36);
			font-weight: 500;
			margin:15px 0;
  		@include media(desktop-sm) {
  			display: block;
  			font-family: $type-heading;
  			font-size:rem(48);
  			font-weight: 500;
  			margin:35px 0;
  		}

  		&:last-child {
  			margin-top: 25px;
  			@include media(tablet) {
  				margin-top: 0;
  			}
  		}

  		a {
  			color:white;
  		}
  	}
	}
}



body.nav-is-open {
	overflow: hidden;
	
	.site-navigation {
		opacity:1;
		visibility: visible;
		z-index: 99;
		overflow-y: scroll;

		ul {
			transform: translateY(0%);
			transition: all 0.6s;
			opacity:1;
		}
	}
}