/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		FOOTER


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

.site-footer {
	text-align: center;
	padding:20px 0;
	background-image: linear-gradient(-180deg, #14091D 0%, #170A20 59%, #1A0C24 100%);

	ul {
		@extend .remove-list-styles;

		li {
			display: block;
			color:white;
			font-size:rem(14);
			@include media(tablet) {
				display: inline-block;
			}

			&:first-child {
				&:after {
					@include media(tablet) {
						content:"|";
					}		
				}
			}
		}
	}

	p {
		color:white;
		font-size:rem(14);
		margin:0;
	}
}