@import 'variables';

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

		BASE STYLES
		Note: Base styles appear in EVERY project 
		and (generally) shouldn't change.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
@import 'base/base-reset';
@import 'base/base-mediaqueries';
@import 'base/base-typography';
@import 'base/base-layout';
@import 'base/base-forms';


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

		PROJECT SITE-WIDE STYLES

		Icons: Fontello icons
		Buttons: typography, colors, animations
		Content: headings, lists, paragraphs, blockquotes, text links
		Forms: typography, formidable, layouts

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'project/site-wide/icons';
@import 'project/site-wide/content';
@import 'project/site-wide/buttons';
@import 'project/site-wide/hamburger';


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

		PROJECT SHELL STYLES

		Page Layout: body, layout, containers
		Header: typography, layout
		Footer: typography, layout

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
@import 'project/shell/site-page-layout';
@import 'project/shell/site-header';
@import 'project/shell/site-footer';


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

		PROJECT COMPONENT STYLES

		Note: This includes "sections" that can be 
		reused on different parts of the site.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
@import 'project/components/star-field';
@import 'project/components/fancy-numbers';
@import 'project/components/hero';
@import 'project/components/hatch-pattern';
@import 'project/components/monitor-image-wrapper';
@import 'project/components/mobile-image-wrapper';
@import 'project/components/paging';


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

		PROJECT Page STYLES

		Note: This includes unique styles for
		individual pages.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
//@import 'project/pages/error404';
@import 'project/pages/homepage';
@import 'project/pages/about-me';
@import 'project/pages/work-single';
@import 'project/pages/work';
// @import 'project/pages/work-single';
// @import 'project/pages/my-approach';