/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		VARIABLES


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

/* --------------------- 
  Color Default Names
--------------------- */

$green-mint:#45F9D5;
$green-mint-dk:#65CE9E;
$purple-dk:#1E0D2A;
$pink:#ED197C;
$orange:#E36B1B;
$gray-md:#393939;
$gray-dk:#1B1B1B;
$gray-lt:#635F65;

 /* --------------------- 
  Color Semantic Names
--------------------- */

$color-body-primary: $orange;
$color-body-secondary:$pink;
$color-body-tertiary:$green-mint;

// Text
$color-body-text:$gray-md;
$color-body-heading:$gray-dk;
$color-body-text-secondary:$gray-lt;
$color-body-text-tertiary:$purple-dk;

// Links
$color-body-link: $green-mint-dk;
$color-body-link-hover:$color-body-primary;
$color-button: $green-mint-dk;

// Borders
$border:$gray-md;


 /* --------------------- 
  Gradients
--------------------- */
$purple-gradient:linear-gradient(-180deg, #000000 0%, #261135 59%, #6A3195 100%);
$purple-gradient-horizontal:linear-gradient(-90deg, #000000 0%, #261135 59%, #6A3195 100%);
$green-orange-gradient:linear-gradient(90deg, #37D5B4 0%, #A4AB5C 47%, #E2770D 100%);
$pink-orange-gradient:linear-gradient(to right, #EE197C 0%, #D1733D 61%, #C98B2C 120%);
$orange-pink-gradient:linear-gradient(to right, #C98B2C 0%, #D1733D 21%, #EE197C 100%);
$white-gradient:linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);


 /* --------------------- 
  Typography Semantic Names
--------------------- */

$type-body: 'Nunito Sans', sans-serif;
$type-heading: 'Raleway', sans-serif;
