/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		BASE TYPOGRAPHY


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

/* --------------------------------------- 
  Default HTML Font Size
--------------------------------------- */

$document-font-size: 16;

/* ---------------------
 --------------------- */


/* --------------------------------------- 
  Pixels to Rems
--------------------------------------- */

@function rem($pixels, $context: $document-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
/* ---------------------
 --------------------- */

/* --------------------------------------- 
  Pixels to Ems
--------------------------------------- */

@function em($pixels, $context: $base-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

/* ---------------------
 --------------------- */


/* --------------------------------------- 
  Converted REM Default Font Size with 
  Line Height Calculation
--------------------------------------- */

$base-font-size: rem(16);
$base-line-height: $base-font-size * 1.5;

/* ---------------------
 --------------------- */


/* --------------------------------------- 
  Type Scale & Leading Map/Function
--------------------------------------- */
$type-scale: (
 12: rem(12),
 14: rem(14),
 16: rem(16),
 18: rem(18),
 24: rem(24),
 30: rem(30),
 36: rem(36),
 48: rem(48),
 60: rem(60)
);

$line-height: (
 12: $base-line-height / 1.3,
 14: $base-line-height / 1,
 16: $base-line-height * 1.05,
 18: $base-line-height * 1.2,
 24: $base-line-height * 1.3,
 30: $base-line-height * 1.6,
 36: $base-line-height * 1.8,
 48: $base-line-height * 2.3,
 60: $base-line-height * 2.7
);

/* Desktop */
@function type-scale($level) {
  @return map-get($type-scale, $level);
}
@function line-height($level) {
  @return map-get($line-height, $level);
}

/* Mobile */
@function type-scale($level-mobile) {
  @return map-get($type-scale, $level-mobile);
}
@function line-height($level-mobile) {
  @return map-get($line-height, $level-mobile);
}


/* Tablet */
@function type-scale($level-tablet) {
  @return map-get($type-scale, $level-tablet);
}
@function line-height($level-tablet) {
  @return map-get($line-height, $level-tablet);
}


/* --------------------------------------- 
  Type Setting Mixin
  NOTE: Tablet Size is at the ***END*** 
--------------------------------------- */
@mixin type-setting($level:0, $level-mobile:$level, $level-tablet:$level) {
  font-size:type-scale($level-mobile);
  line-height: line-height($level-mobile);

  @include media(tablet) {
    font-size: type-scale($level-tablet);
    line-height: line-height($level-tablet);
  }
  @include media(desktop-sm) {
    font-size: type-scale($level);
    line-height: line-height($level);
  }
}



 /* --------------------------------------- 
  Unordered List Custom Styles
--------------------------------------- */

@mixin ul-custom($mobile-top, $top, $bullet-size, $bg) {
  list-style:none;
  padding:0;
  margin:0 0 0 18px;

  li {
    position:relative;
    padding:0 0 20px 24px;

    &:before {
      content:'';   
      display:block;
      position:absolute;
      left:0;
      top:$mobile-top;
      width:$bullet-size; 
      height:$bullet-size; 
      border-radius:100%; 
      background:$bg;
      @include media(tablet) {
        top:$top;
      }
    }

    ul {
      list-style:none;
      li {
        &:first-child {
          padding-top:15px;
          &:before {
            top:calc( 15px + #{$top} );
          }
        }
        &:last-child {
          padding-bottom:0;
        }
      }
    }
  }
}

/* ---------------------
 --------------------- */


/* --------------------------------------- 
  Ordered List Custom Styles
--------------------------------------- */
@mixin ol-custom($number-color, $number-width) {
  counter-reset: i 0;
  list-style:none;
  padding:0;
  margin:0;

  li {
    position:relative;
    padding:0 0 20px 40px;

    &:before {
      position:absolute;
      left:0;
      top:0;
      content: counter(i) ".";
      counter-increment: i;
      color:$number-color;
      text-align:right;
      width:$number-width; 
      /* Width is added so smaller and larger numbers 
         will be right aligned neatly. (Ex: "9." then "10.") */
    }

    ol {
      list-style:none;
      li {
        &:first-child {
          padding-top:15px;
          &:before {
            top:15px;
          }
        }
        &:last-child {
          padding-bottom:0;
        }
      }
    }
  }
}

/* ---------------------
 --------------------- */


/* --------------------------------------- 
  Strip all default or custom list styling
--------------------------------------- */
.remove-list-styles {
  list-style:none;
  padding:0;
  margin:0;
  li {
    padding:0;
    margin:0;
    
    &:before {
      display:none;
      position: static;
      background: none;
      border-radius:0;
    }

    ul, ol {
      padding:0;
      li {
        &:first-child {
          padding-top:0;
        }
      }
    }
  }
}

/* ---------------------
 --------------------- */