/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		About Me


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

.about-hero {
	@include hero();
	padding:80px 0 0 0;
	@include media(tablet) {
		display: flex;
		justify-content: center;
		padding:130px 0 0 0;
	}

	.saturn-esque {
		@include media(tablet) {
			background-position: left 480px;
		}
	}

	.content-wrapper {
		position: relative;
		z-index: 15;
		padding:20px 20px 0 20px;
		@include media(tablet) {
			@include centerflex();
			width:40%;
			padding:0 60px 60px 0;
		}
		@include media(desktop-sm) {
			max-width: 476px;
		}

		p {
			margin:25px 0 0 0;
		}
	}

	.img-wrapper {
		position: relative;
		z-index: 15;
		padding:35px 20px 40px 20px;
		margin:0;
		@include media(tablet) {
			width:50%;
			padding:0;
		}
		@include media(desktop-sm) {
			width:auto;
		}

		img {
			display: block;
			max-width: 100%;
			margin:0 auto;
			@include media(tablet) {
				margin:0 0 -30px 0;
			}
			@include media(desktop-sm) {
				margin-bottom:-40px;
			}
		}
	}
}

.about-description {
	@include hatch-pattern();
	text-align: center;
	padding:30px 20px 40px 20px;
	@include media(tablet) {
		padding:70px 20px 80px 20px;
	}
	@include media(desktop-sm) {
		padding:100px 20px 110px 20px;
	}

	h1 {
		font-size:rem(24);
		line-height: 1.3;
		font-weight: 300;
		text-align: left;
		color:$color-body-text;
		margin:0;
		@include media(tablet) {
			font-size:rem(36);
			line-height: 1.3;
			font-weight:500;
			text-align: justify;
			width:730px;
			margin:0 auto;
		}
		@include media(desktop-sm) {
			width:926px;
		}
	}

	.button {
		margin-top:30px;
		@include media(tablet) {
			margin-top:45px;
		}
		@include media(desktop-sm) {
			margin-top: 55px;
		}

		i {
			margin-left:7px;
			vertical-align:-1px;
		}
	}
}

.about-expertise {
	position: relative;
	z-index: 10;
	padding:30px 0 30px 0;
	@include media(tablet) {
		padding:60px 0 70px 0;
	}
	@include media(desktop-sm) {
		padding:70px 0 80px 0;
	}

	.starfield {
		@include starfield-static($green-orange-gradient);
	}

	.container {
		position: relative;
		z-index: 10;
		max-width: 926px;
	}

	header {
		@include media(tablet) {
			display: flex;
			align-items:center;
			padding-bottom: 20px;
		}
	}

	h1 {
		color:white;
		margin:0;
	}

	h2 {
		color:white;
		font-family:$type-body;
		font-size:rem(12);
		font-weight: 700;
		text-transform: uppercase;
		margin:0 0 10px 0;
		@include media(tablet) {
			font-size:rem(14);
			margin-bottom: 5px;
		}
	}

	p {
		color:white;
		font-family: $type-heading;
		font-weight: 600;
		font-size:rem(20);
		line-height: 1.3;
		margin:0;
		display: inline-block;
		@include media(tablet) {
			font-size:rem(24);
		}
	}

	.button {
		@include white-button();
			padding:0 15px;
			margin-top: 10px;
			@include media(tablet) {
				margin-left:60px;
			}

		i {
			font-size:rem(32);
			vertical-align: -8px;
			margin-left: 5px;
		}
	}

	ul {
		@extend .remove-list-styles;
		@include media(tablet) {
			display: flex;
			flex-wrap:wrap;
		}
		li {
			margin-top: 30px;
			@include media(tablet) {
				width:50%;
				padding-right:60px;
			}
		}
	}
}

.about-employment {
	position: relative;
	z-index: 1;
	padding:30px 0;
	overflow: hidden;
	@include media(tablet) {
		padding:60px 0;
	}
	@include media(desktop-sm) {
		padding:80px 0;
	}

	.container {
		max-width: 926px;
	}

	h1 {
		margin:0 0 10px 0;
		@include media(tablet) {
			margin-bottom: 20px;
		}
		@include media(desktop-sm) {
			margin-bottom: 30px;
		}
	}

	ul {
		@extend .remove-list-styles;

		li {
			padding:8px 0;
			@include media(tablet) {
				padding:5px 0;
			}
		}
	}

	.content-wrapper {
		position: relative;
		z-index:2;
	}

	.img-wrapper {
		position: relative;
		margin:0;

		img {
			position: absolute;
			top:-430px;
			right:-490px;
			transform:rotate(280deg);
			transition:all 0.5s ease;
			@include media(mobile) {
				right:-440px;
			}
			@include media(tablet) {
				top:-430px;
				right:-440px;
				transform:rotate(0deg);
			}
			@include media(desktop-sm) {
				top:-320px;
				right:-350px;
			}
		}
	}
}

.about-random {
	position: relative;
	@include media(tablet) {
		height:920px;
	}
	@include media(desktop-sm) {
		height:840px;
	}

	.container {
		max-width: 926px;
	}

	h1 {
		position: relative;
		z-index: 15;
		color:white;
		padding:30px 0 10px 0;
		margin:0;
		@include media(tablet) {
			width:350px;
			padding-top: 50px;
		}
		@include media(desktop-sm) {
			width:490px;
			padding-top: 70px;
		}
	}

	ol {
		position: relative;
		z-index: 15;
		@extend .remove-list-styles;
		padding-bottom: 30px;
		@include media(tablet) {
			max-width: 800px;
			padding:0;
			margin:0 auto;
		}
		@include media(desktop-sm) {
			max-width: 926px;
		}

		li {
			position: relative;
			padding:20px 20px 20px 10px;
			@include media(tablet) {
				position: absolute;
				padding:0;
				transition:all 0.5s ease;
			}

			.number {
				display: inline-block;
				position:relative;
				z-index: 1;
				left:0;
				right:0;
				color:white;
				font-size:rem(122);
				line-height:67px;
				font-weight: 600;
				font-family: $type-heading;
				opacity:.16;
			}

			p {
				@include centerY();
				position: absolute;
				left:50px;
				right:50px;
				z-index: 10;
				color:white;
				font-weight: 600;
				margin:0;
				@include media(tablet) {
					left:38px;
					right:auto;
				}
			}
		}

		li {

			&:first-child {
				@include media(tablet) {
					width:170px;
					right:340px;
					top:-40px;
				}
				@include media(desktop-sm) {
					right:226px;
					top:-169px;
				}
			}

			&:nth-child(2) {
				@include number200();
				@include media(tablet) {
					width:315px;
					right:50px;
					top:-127px;
				}
				@include media(desktop-sm) {
					right:306px;
					top:-20px;
				}
			}

			&:nth-child(3) {
				@include number175();
				@include media(tablet) {
					width:296px;
					right:20px;
					top:40px;
				}
				@include media(desktop-sm) {
					right:0;
					top:-68px;
				}
			}

			&:nth-child(4) {
				@include number288();
				@include media(tablet) {
					width:415px;
					top:100px;
					left:0;
				}
				@include media(desktop-sm) {
					top:140px;
					left:0;
				}
				@include media(desktop-md) {
					left:-13px;
				}
			}

			&:nth-child(5) {
				@include media(tablet) {
					width:220px;
					top:310px;
					left:50px;
				}
				@include media(desktop-sm) {
					top:310px;
					left:auto;
					right:346px;
				}
			}

			&:nth-child(6) {
				@include number288();
				@include media(tablet) {
					width:404px;
					top:270px;
					right:20px;
				}
				@include media(desktop-sm) {
					top:170px;
					right:0;
				}
			}

			&:nth-child(7) {
				@include number200();
				@include media(tablet) {
					width:330px;
					top:430px;
					left:90px;
				}
				@include media(desktop-sm) {
					top:410px;
					left:40px;
				}
			}

			&:nth-child(8) {
				@include number175();
				@include media(tablet) {
					width:269px;
					top:522px;
					right:90px;
				}
				@include media(desktop-sm) {
					top:472px;
					right:270px;
				}
			}

			&:nth-child(9) {
				@include media(tablet) {
					width:256px;
					top:610px;
					left:150px;
				}
				@include media(desktop-sm) {
					top:392px;
					right:0;
					left:auto;
				}
			}
		}

		/*
		li {

			&:first-child {
				@include media(tablet) {
					width:170px;
					right:320px;
					top:-40px;
				}
				@include media(desktop-sm) {
					right:226px;
					top:-169px;
				}
			}

			&:nth-child(2) {
				@include number175();
				@include media(tablet) {
					width:296px;
					right:10px;
					top:-127px;
				}
				@include media(desktop-sm) {
					right:0;
					top:-50px;
				}
			}
			
			&:nth-child(3) {
				@include number200();
				@include media(tablet) {
					width:315px;
					right:20px;
					top:40px;
				}
				@include media(desktop-sm) {
					right:306px;
					top:-20px;
				}
			}

			&:nth-child(4) {
				@include number288();
				@include media(tablet) {
					width:404px;
					top:100px;
					left:0;
				}
				@include media(desktop-sm) {
					top:140px;
					right:0;
					left:auto;
				}
			}

			&:nth-child(5) {
				@include number288();
				@include media(tablet) {
					width:415px;
					top:270px;
					right:20px;
				}
				@include media(desktop-sm) {
					top:140px;
					right:auto;
					left:0;
				}
				@include media(desktop-md) {
					left:-13px;
				}
			}

			&:nth-child(6) {
				@include media(tablet) {
					width:220px;
					top:310px;
					left:50px;
				}
				@include media(desktop-sm) {
					top:300px;
					right:346px;
					left:auto;
				}
			}

			&:nth-child(7) {
				@include number200();
				@include media(tablet) {
					width:330px;
					top:430px;
					left:90px;
				}
				@include media(desktop-sm) {
					top:390px;
					left:40px;
				}
			}

			&:nth-child(8) {
				@include number175();
				@include media(tablet) {
					width:269px;
					top:522px;
					right:90px;
				}
				@include media(desktop-sm) {
					top:432px;
					right:270px;
				}
			}

			&:nth-child(9) {
				@include media(tablet) {
					width:256px;
					top:610px;
					left:150px;
				}
				@include media(desktop-sm) {
					top:392px;
					right:0;
					left:auto;
				}
			}
		}
		*/

	}

	.starfield {
		@include starfield-static($orange-pink-gradient);
	}
}