/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Homepage


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 

.homepage-hero {
	@include hero();
	@include media(tablet) {
		height:100vh;
	}

	.starfield {
		@include starfield($purple-gradient, infinite);
	}

	.content-wrapper {
		position: relative;
		z-index: 15;
		max-width: 600px;
		padding:100px 20px 0 20px;
		margin:0 auto;
		@include media(tablet) {
			@include centerY();
		}
		@include media(desktop-sm) {
			padding:0;
			margin-left:100px;
			max-width: 782px;
		}

		.button {
			margin-top:30px;
			margin-bottom: 100px;
			@include media(tablet) {
				margin:40px 0 100px 0;
			}
		}
	}

	#anchor {
		position: absolute;
		z-index: 20;
		bottom:15px;
		left:0;
		right:0;
		text-align: center;
		color:white;

		span {
			display:block;
			font-size:rem(14);
			font-weight: 600;
			text-transform: uppercase;
			margin-right:5px;
			@include media(tablet) {
				display: block;
				margin:0 0 5px 0;
			}
		}

		i {
			font-size:rem(13);
			@include media(tablet) {
				font-size:rem(20);
			}
		}
	}
}

#work {
	@include hatch-pattern();
	padding:30px 0;
	@include media(tablet) {
		padding:50px 0 0 0;
	}
	@include media(desktop-sm) {
		padding-top:80px;
	}

	.featured-work {
		@extend .remove-list-styles;

		li {
			position: relative;
			margin-bottom: 30px;
			@include media(tablet) {
				margin-bottom: 50px;
			}
			@include media(desktop-sm) {
				width:1004px;
				height:493px;
				margin:0 auto 80px auto;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(odd) {
				.img-wrapper {
					@include media(desktop-sm) {
						left:0;
					}
				}
				section {
					@include media(desktop-sm) {
						right:0;
					}

					.content-wrapper {
						@include media(desktop-sm) {
							right:75px;
						}
					}

					.starfield {
						@include starfield-static($orange-pink-gradient);
						@include media(desktop-sm) {
							border-radius:5px;
						}
					}
				}
			}

			&:nth-child(even) {
				.img-wrapper {
					@include media(desktop-sm) {
						right:0;
					}
				}
				section {
					@include media(desktop-sm) {
						left:0;
					}

					.content-wrapper {
						@include media(desktop-sm) {
							left:75px;
						}
					}

					.starfield {
						@include starfield-static($green-orange-gradient);
						@include media(desktop-sm) {
							border-radius:5px;
						}
					}
				}
			}

			.img-wrapper {
				@include monitor-wrapper();
				z-index: 10;
				width:300px;
				margin:0 auto;
				@include media(tablet) {
					width:644px;
				}
				@include media(desktop-sm) {
					position: absolute;
					top:0;
					margin:0;
				}
			}

			section {
				position: relative;
				margin-top: -30px;
				@include media(tablet) {
					margin-top: -40px;
				}
				@include media(desktop-sm) {
					position: absolute;
					top:35px;
					width:682px;
					height:423px;
					margin:0;
				}

				.content-wrapper {
					position: relative;
					z-index: 10;
					text-align: center;
					padding:93px 20px 20px 20px;
					@include media(tablet) {
						padding:157px 0 30px 0;
					}
					@include media(desktop-sm) {
						position: absolute;
						@include centerflex();
						text-align: left;
						width:215px;
						height:100%;
						padding:0;
					}
				}
			}

			article {
				padding-top: 15px;
				@include media(desktop-sm) {
					padding:0;
				}
				p {
					color:white;
					margin:0;
					font-weight: 600;
				}

				.button {
					@include white-button();
					margin-top: 20px;
					@include media(desktop-sm) {
						margin-top: 30px;
					}
				}
			}

			header {
				@include media(desktop-sm) {
					display: block;
					width:auto;
					margin-bottom:20px;
				}

				h1 {
					font-size:rem(28);
					line-height: 1.1;
					color:white;
					margin: 0;
					@include media(tablet) {
						font-size:rem(48);
						line-height: 1.1;
					}
				}

				p {
					color:white;
					text-transform: uppercase;
					font-size:rem(12);
					font-weight: 700;
					margin:0;
					@include media(tablet) {
						font-size:rem(14);
					}
				}
			}
		}
	}

	.other-work {
		@extend .remove-list-styles;
		padding-top:30px;
		max-width: 1044px;
		margin:0 auto;
		@include media(tablet) {
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			padding-top: 50px;
		}
		@include media(desktop-sm) {
			padding-top: 80px;
		}

		li {
			position: relative;
			margin-bottom: 30px;
			@include media(tablet) {
				width:50%;
				padding:0 20px;
				margin-bottom: 40px;
			}
			@include media(desktop-sm) {
				margin-bottom:70px;
			}
			&:last-child {
				margin-bottom: 0;
			}

			.img-wrapper {
				@include monitor-wrapper();
				z-index: 10;
				width:300px;
				margin:0 auto;
				@include media(tablet) {
					width:100%;
					margin:0 0 20% 0;
				}
			}

			.content-wrapper {
				text-align: center;
				padding:63px 20px 0 20px;
					@include media(tablet) {
						text-align: left;
						padding:0 10px;
					}
			}

			header {

				h1 {
					font-size:rem(28);
					line-height: 1.1;
					margin: 0;
					@include media(desktop-sm) {
						font-size:rem(36);
						line-height: 1.1;
					}
				}

				p {
					text-transform: uppercase;
					font-size:rem(12);
					font-weight: 600;
					color:$color-body-primary;
					margin:0;
					@include media(tablet) {
						font-size:rem(14);
					}
				}
			}

			article {
				padding-top: 15px;
				@include media(desktop-sm) {
					padding:0;
				}
				p {
					margin:0;
				}

				.button {
					font-size:rem(14);
					padding:10px 20px;
					margin-top:15px;
				}
			}
		}
	}
}