/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Work Single Pages


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body.work-single {
	.site-header {
		top:0;
		background-image: linear-gradient(-180deg, #14091D 0%, #170A20 59%, #1A0C24 100%);
		transition:all 0.3s ease-out;
	}
	&.nav-is-open {
		.site-header {
			background-image:none;
		}
	}
	.site-document {
		margin-top: 66px;
	}
} 

.work-hero {
	position: relative;
	padding:15px 0 20px 0;
	@include media(tablet) {
		padding:35px 0 45px 0;
	}
	@include media(desktop-sm) {
		padding:50px 0 70px 0;
	}
	@include media-ie-11() {
		margin-top: 66px;
	}

	.img-wrapper {
		@include monitor-wrapper();
		align-self: flex-start;
		z-index: 10;
		width:90%;
		margin:0 auto;
		@include media(desktop-sm) {
			width:938px;
		}
	}

	.starfield {
		@include starfield-static($orange-pink-gradient);
	}
}

.work-description {
	@include hatch-pattern();
	padding:15% 0 50px 0;
	@include media(tablet) {
		padding-bottom:65px;
	}
	@include media(desktop-sm) {
		padding-top: 130px;
	}

	.container {
		@include media(tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 690px;
		}
		@include media(desktop-sm) {
			max-width:850px;
		}

		.img-container {
			margin:0 auto;
			@include media(tablet) {
				width:220px;
				margin:0;
			}
			@include media(desktop-sm) {
				width:340px;
			}

			footer {
				text-align: center;
				margin:50px auto 0 auto;
			}
		}

		.img-wrapper {
			@include mobile-wrapper();
		}

		.content-wrapper {
			padding-bottom:25px;
			@include media(tablet) {
				width:380px;
				padding-bottom: 0;
			}
			@include media(desktop-sm) {
				width:422px;
			}
		}
	}

	


	header {
		h1 {
			margin:0;
		}

		p {
			text-transform: uppercase;
			font-size:rem(12);
			font-weight: 600;
			color:$color-body-primary;
			margin:0;
			@include media(tablet) {
				font-size:rem(14);
			}
		}
	}

	h2 {
		font-family:$type-body;
		font-size:rem(16);
		font-weight: 700;
		line-height: 1.4;
		color:$color-body-text;
		@include media(tablet) {
			font-size:rem(18);
			line-height: 1.5;
		}
	}

	.client-description {
		margin:20px 0;
		@include media(tablet) {
			margin:30px 0;
		}

		p {
			margin:0;
		}
	}

	.my-role {
		margin:20px 0;
		@include media(tablet) {
			margin:30px 0;
		}

		h2 {
			margin:0 0 10px 0;
		}

		p {
			font-family: $type-heading;
			font-weight:500;
			font-size:rem(24);
			line-height: 1.1;
			margin:10px 0 0 0;
			@include media(tablet) {
				font-size:rem(28);
				line-height: 1.1;
			}	
		}
	}

	.challenge {
		margin:20px 0;
		@include media(tablet) {
			margin:30px 0;
		}

		h2 {
			margin:0 0 15px 0;
		}
	}
}

.work-results {
	position: relative;
	padding:50px 0;
	overflow: hidden;
	@include media(desktop-sm) {
		padding:60px 0;
	}

	h1 {
		font-size:rem(24);
		color:white;
		margin:0 0 20px 0;
		@include media(tablet) {
			font-size:rem(40);
			margin-bottom: 30px;
		}
	}

	p, li {
		font-size:rem(18);
		font-weight: 500;
		color:white;
		@include media(tablet) {
			font-size:rem(22);
			font-weight: 300;
		}

		> &:last-of-type {
			margin:0;
		}
	}

	ul, ol {
		margin:15px 0;
		@include media(tablet) {
			margin:25px 0;
		}
	}

	li {
		margin:5px 0;
	}

	blockquote {
		max-width:510px;
		&:before {
			background:url(/assets/images/quote-white.svg) no-repeat;	
			opacity:.2;			
		}

		p {
			font-weight: 600;
			margin:10px 0;
			@include media(tablet) {
				font-size:rem(20);
			}
		}
	}

	.content-wrapper {
		position: relative;
		z-index: 10;
		@include media(tablet) {
			max-width: 690px;
		}
		@include media(desktop-sm) {
			max-width:850px;
		}
	}

	.saturn-esque {
		position: absolute;
		left:0;
		bottom:0;
		z-index: 5;
		width:100%;
		height:781px;
		background-repeat:no-repeat;
		background-position: left center;
		background-image:url(../../images/saturn-esque.svg);
		@include media(tablet) {
			background-position: left 480px;
		}
	}
	.starfield {
		@include starfield-static($purple-gradient);
	}
}

.work-screens {
	position: relative;
	padding-bottom: 30px;
	@include media(tablet) {
		padding-bottom: 60px;
	}

	.img-wrapper {
		position: relative;
		z-index: 10;
		padding:30px 20px 0 20px;
		margin:0 auto;
		@include media(tablet) {
			padding-top:60px;
		}
		@include media(desktop-md) {
			padding-left:0;
			padding-right:0;
		}

		&.container-lg {
			max-width: 1100px;
		}

		&.container-md {
			max-width: 684px;
		}

		img {
			max-width: 100%;
		}

		figcaption {
			margin:20px auto 0 auto;

			p {
				color:white;
				font-weight: 700;
				margin:5px 0 0 0;
				max-width: 684px;
			}
		}
	}

	.starfield {
		@include starfield-static($green-orange-gradient);
	}
}