/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


		Work Listing Page


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.work-listing-hero {
	@include hero();
	padding:110px 0 90px 0;
	@include media(tablet) {
		padding:100px 0 90px;
	}
	@include media(desktop-sm) {
		padding:100px 0 110px;
	}

	.saturn-esque {
		background-size:660px auto;
		background-position: -240px bottom;
		@include media(tablet) {
			background-position: left 480px;
			background-size:100% auto;
		}
	}

	.content-wrapper {
		position: relative;
		z-index: 15;
		text-align: center;
	}

	h1 {
		font-size:rem(42);
		line-height: 1.2;
		max-width: none;
		@include media(tablet) {
			font-size:rem(62);
			line-height: 1.1;
		}
	}
}